* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  height: auto;
  margin: 50px auto;
}
.section-input {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  background-color: #fff;
  margin-bottom: 2%;
}

.input-wrapper {
  width: 100%;
  padding: 3%;
  margin: auto;
}
.input-wrapper input {
  width: 50%;
  padding: 3px;
  margin-bottom: 10px;
}
.btn-wrapper {
  text-align: center;
  padding: 1%;
}

.btn-wrapper button {
  background-color: #4e73df;
  color: #ffffff;
  border: 0;
  padding: 1%;
  font-size: 18px;
  cursor: pointer;
}

.section-table {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}

.card-header {
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
  padding-bottom: 1rem;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f8f9fc;
  border-bottom: 1px solid #e3e6f0;
}

.card-header h6 {
  font-size: 1rem;
  line-height: 1.2;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  word-wrap: break-word;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
}

.table-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}

table {
  width: 100%;
  border-right-width: 0;
  clear: both;
  margin-top: 6px;
  margin-bottom: 6px;
  max-width: none;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #e3e6f0;
  color: #858796;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th {
  vertical-align: bottom;
  border-bottom: 2px solid #e3e6f0;
  padding-right: 30px;
  padding: 0.75rem;
  cursor: pointer;
  position: relative;
  border: 1px solid #e3e6f0;
}

i {
  font-size: 25px;
  right: 1.2em;
  bottom: 0.9em;
  opacity: 0.7;
  margin-right: 5px;
}

i:hover{
  color: black;
}

td {
  border-bottom-width: 0;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid;
  border: 1px solid #e3e6f0;
}
