<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판 만들기</title>
    <link rel="stylesheet" href="style.css" />
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="section-input">
        <div class="card-header">
          <h6>DW 게시판</h6>
        </div>
        <div class="btn-wrapper">
          <button type="button">게시물 등록</button>
        </div>
      </div>
      <div class="section-table">
        <div class="card-header">
          <h6>게시물</h6>
        </div>
        <div class="card-body">
          <div class="table-wrapper">
            <div class="row"></div>
            <div class="row">
              <div class="col">
                <table>
                  <thead>
                    <tr role="row">
                      <th>No <i id="asc" class='bx bx-up-arrow-alt'></i><i id="desc" class='bx bx-down-arrow-alt' ></i></th>
                      <th>Title</th>
                      <th>Writer</th>
                      <th>CreateAt</th>
                      <th>Count</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td><a href="#">네이마르 부상..? 크로아티아 승리?</a></td>
                      <td>현상원</td>
                      <td>2015/12/09</td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
  </body>
   <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script>
	
    </script>
</html>
